---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import EcPartnerList from '~/components/EcPartnerList.astro';
import EcHomeBlogSelected from '~/components/widgets/EcHomeBlogSelected.astro';

const metadata = {
  title: 'EaseCation Game Server - ESH GROUP',
  ignoreTitleTemplate: true,
};
---
<script is:inline>
  const konamiCode = [
    'ArrowUp',
    'ArrowUp',
    'ArrowDown',
    'ArrowDown',
    'ArrowLeft',
    'ArrowRight',
    'ArrowLeft',
    'ArrowRight',
    'b',
    'a',
  ];
  let inputIndex = 0;
  document.addEventListener('keyup', event => {
    if (event.key === konamiCode[inputIndex]) {
      inputIndex++;
      if (inputIndex === 10) {
        inputIndex = 0;
        alert("I have 30 life new.lol");
      }
    }
  });
</script>
<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero>
    <Fragment slot="title">
      EaseCation <span class="hidden xl:inline">Game Server</span><br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold">Experience the Ten-Year Masterpiece with Millions of Players</span>
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    title="Popular Mini-Games"
    subtitle="And much more..."
    image={{
      src: '~/assets/images/bedwars.jpg',
      alt: 'Image',
      draggable: false,
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Bed Wars</h3>
      Experience the world's most popular Minecraft mini-game!<br>
      On these floating islands suspended in the void, your bed is your lifeline and the ultimate target of enemy attacks. Collect resources, upgrade equipment, plan tactics, work as a team... use every means to defend your base and eliminate all enemies!
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  
  <Content
    isAfterContent
    image={{
      src: '~/assets/images/mystery.jpg',
      alt: 'Image',
      draggable: false,
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Murder Mystery</h3>
      Enjoy the heart-pounding deduction and hunting feast!<br>
      Will you become a killer lurking for the perfect moment, a detective pursuing justice, or a civilian fighting back? Collect emeralds to exchange for equipment, use maps or tactics to outsmart opponents... you have only one goal: enjoy the game and achieve victory!
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  <Content
    isReversed
    isAfterContent
    image={{
      src: '~/assets/images/rl.jpg',
      alt: 'Image',
      draggable: false,
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Rune Legend</h3>
      Our proudly original PVE story-driven mini-game!
      <br>
    「 Runes Awaken, Withering All Life 」
    <br>
     "The evil truth is about to be revealed, and darkness is silently devouring reality."
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Features3
    title="About Us"
    subtitle="EaseCation is a Minecraft mini-game server created on May 29, 2015. Since its establishment, our server has continuously innovated and progressed, deeply loved by players, with registered users reaching tens of millions!"
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Long-term Development',
        description:
          'The EaseCation team officially established Ningbo ESH Network Technology Co., Ltd. in November 2022. Later in August 2023, together with Shanghai ESH Network Technology Co., Ltd. and Chongqing ESH Network Technology Co., Ltd., they jointly formed the ESH Group, aiming to provide richer and higher-quality services to more customers.',
        icon: 'tabler:template',
      },
      {
        title: 'Industry Recognition',
        description:
          'Awards we have received include: NetEase 2021 Minecraft Server of the Year, 2023 Minecraft Server of the Year, 2024 Minecraft Golden Apple Cup "Best Online Game", participated in ChinaJoy 2021, and IJOY 2023 and 2025.',
        icon: 'tabler:template',
      },
      {
        title: 'Innovative Technology',
        description:
          `Our player service system and internal office system are all self-developed, perfectly matching player needs and enterprise office requirements.
Technological wisdom lies in sharing. We also provide customized internal office systems for small and medium enterprises and AI-related business services. We look forward to cooperating with you!`,
        icon: 'tabler:template',
      },
    ]},
    image={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- HighlightedPosts Widget ******* -->
  <EcHomeBlogSelected
  lang={"en"}
    title='Selected News'/>
  <BlogLatestPosts
    title="Latest News"
    information={`
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Where should I go for consultation services related to server mini-games and player account affairs?',
        description:
          `Enter our <a style="color:blue" href="https://uc.easecation.net" target="_blank" rel="noopener noreferrer">ticket system</a> and submit a ticket of the corresponding category according to the guidance.`,
      },
      {
        title: 'Where should I go to provide feedback and suggestions?',
        description:
          `Enter our <a style="color:blue" href="https://uc.easecation.net" target="_blank" rel="noopener noreferrer">ticket system</a> and submit a ticket with the type "Suggestions and Feedback".`,
      },
      {
        title: 'I want to join you, how should I apply?',
        description:
          `Development Team: Server developer positions are actively recruiting! We support 【Full-time】【Part-time】【Internship】, application link: <a style="color:blue" href="https://ningboesh.feishu.cn/share/base/form/shrcnHtdTPBZGxqwuQgwFAR8LZf" target="_blank" rel="noopener noreferrer">Nukkit (Java) Game Development Position Application (Full-time / Part-time / Internship)</a>
          <br/>
          Management Team: The management team conducts self-recruitment and unified recruitment activities from time to time. Please pay attention to relevant messages on our official social media!`,
      },
      {
        title: "Where can I purchase EaseCation merchandise?",
        description:
          "We have an official store dedicated to selling merchandise! Search for: EaseCation in Taobao stores. Products are updated from time to time, thank you for your support!",
      }
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      {title: 'Registered Players', amount: '100 Million+'},
      {title: 'Peak Online Players', amount: '20,000+'},
      {title: 'Player Rating', amount: '4.8/5.0'},
    ]}
  />
  
  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Guide',
        href: '/en/homeguidehowtojointhegame',
      },
    ]}
  >
  <a href="https://uc.easecation.net" target="_blank" rel="noopener noreferrer"></a>
    <Fragment slot="title">
      <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Join the Server</span>
    </Fragment>

    <Fragment slot="subtitle">
      Mobile: Client - Online Games - EC Bed Wars·S8 <br class="hidden md:inline" />
      PC: Client - Online Games - EC Mini-Games·Bed Wars
    </Fragment>
  </CallToAction>
</Layout>
