---
import imageNeteaseMinecraft from "~/assets/images/partner_neteaseMinecraft.png";
import imageChinaJoy from '~/assets/images/partner_chinaJoy.png'
import imageSodayo from "~/assets/images/partner_sodayo.jpeg";
import EcTranslate from '~/utils/EcTranslate';
---
<div class="col-span-6 md:col-span-3 lg:col-span-2">
    <div class="dark:text-gray-300 font-medium mb-2">{EcTranslate.getTranslate("#nav.footer.partners",EcTranslate.getCurrentLang(Astro.url.href))}</div>
    <div class="space-y-2">
        <div class="flex justify-start">
            <img src={imageNeteaseMinecraft.src} class="h-8 w-auto cursor-pointer hover:opacity-80 transition-opacity" onclick="window.open('https://mc.163.com/')" alt="网易我的世界"/>
        </div>
        <div class="flex items-center gap-2">
            <img src={imageChinaJoy.src} class="h-12 w-auto cursor-pointer hover:opacity-80 transition-opacity" onclick="window.open('https://www.chinajoy.net/')" alt="ChinaJoy"/>
            <img src={imageSodayo.src} class="h-12 w-auto cursor-pointer hover:opacity-80 transition-opacity" onclick="window.open('https://sodayo.net/')" alt="Sodayo"/>
        </div>
    </div>
</div>